*.tar.gz

*.exe
src/volta
src/voltad
src/volta-cli
src/volta-tx
src/test/test_volta
src/test/test_volta_fuzzy
src/qt/test/test_volta-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/volta-config.h
src/config/volta-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/volta-qt.config
src/qt/volta-qt.creator
src/qt/volta-qt.creator.user
src/qt/volta-qt.files
src/qt/volta-qt.includes

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
volta-qt
volta-qt.app
background.tiff*

# Unit-tests
Makefile.test
volta-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_volta.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile
!depends/Makefile
!depends/patches/*/*

/doc/doxygen/

libvoltaconsensus.pc
contrib/devtools/split-debug.sh

.TODO
.vscode